<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id = "content-container" class="container">
    <div id="content" class="row">
        <div id="content-head" class="col-md-12">
            <div id="task-time" class="col-md-4 left">
                <span class="badge badge-secondary">今天</span>
            </div>
            <div class="col-md-8">
                <div id="time-controller" class="btn-group" data-toggle="buttons-radio">
                    <div id="time-left-arr"><i></i></div>
                    <a href="#" class="btn btn-secondary time-element">前天</a>
                    <a href="#" class="btn btn-secondary time-element">昨天</a>
                    <a href="#" class="btn btn-secondary time-element">今天</a>
                    <a href="#" class="btn btn-secondary time-element">明天</a>
                    <a href="#" class="btn btn-secondary time-element">后天</a>
                    <div id="time-right-arr"><i></i></div>
                </div>
            </div>
        </div>
        <!--任务列表-->
        <div id = "task-list" class = "col-md-4 ">
            <!--显示名称-->
            <div class="card">
                <div class="card-header" style="font-size: x-large;text-align: center;">
                    任务列表
                </div>
            </div>
            <!--循环输出任务列表-->
            <div id="task-list-content" class="list-group pre-scrollable" th:if="${taskList!=null}">

                <a th:each="task : ${taskList}" th:href="${'/?taskId='+task.id}" class="list-group-item list-group-item-action flex-column align-items-start task "th:classappend="${activeTask!=null&&activeTask.id==task.id}?'active':''">
                    <div class="d-flex w-100 justify-content-between">
                        <small class="task-time" th:text="${task.gmtStart}"></small>
                        <h5 class="mb-1" th:text="${task.gmtEnd}"></h5>
                    </div>
                    <p class="mb-1" th:text="${task.description}"></p>
                    <small th:text="${task.memo}"></small>
                </a>

            </div>
        </div>
        <div id = "task-info" class="container col-md-8" th:if="${activeTask!=null}">
            <div><span  class="simple-des">任务详情</span></div>
            <div id="task-content" class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control info-vector" rows="9"  th:text="${activeTask!=null?activeTask.description:'显示错误'}"></textarea>
                </div>
            </div>
            <div id="task-controller" class="col-md-12" th:if="${session.user!=null}">
                <a type="button" class="btn btn-primary" th:href="'/private/tasks?action=edit&id='+${activeTask.id}">编辑</a>
                <a type="button" class="btn btn-success" th:href="'/private/tasks?action=finish&id='+${activeTask.id}">完成</a>
                <a type="button" class="btn btn-danger" th:href="'/private/tasks?action=cancel&id='+${activeTask.id}">取消</a>
                <a type="button" class="btn btn-warning" th:href="'/private/tasks?action=delay&id='+${activeTask.id}">推迟</a>
            </div>
            <div style="display: inline"><span class="simple-des">事项备注</span></div>
            <div id="task-memo" class="col-md-12">
                <div class="form-group">
                    <textarea class="form-control info-vector" rows="3"  th:text="${activeTask!=null?activeTask.memo:'显示错误'}"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>